extends layout
		
block content
	div#scriptinsert
		| <script>
		- var x = 0;
		| var latlng = { "elements" : [
		each el, i in latlng
			- if (x == 0)
				| {"latlng" : #{el}, "id" : "#{i}" }
				- x = 1;
			- else
				| ,{"latlng" : #{el}, "id" : "#{i}" }
		| ]};
		
		- var x = 0;
		| var endlatlng = { "elements" : [
		each el, i in endlatlng
			- if (x == 0)
				| {"latlng" : #{el}, "id" : "#{i}" }
				- x = 1;
			- else
				| ,{"latlng" : #{el}, "id" : "#{i}" }
		| ]};

		- var x = 0;
		| var extlatlng = { "elements" : [
		each el, i in extlatlng
			- if (x == 0)
				| {"latlng" : #{el}, "id" : "#{i}" }
				- x = 1;
			- else
				| ,{"latlng" : #{el}, "id" : "#{i}" }
		| ]};

		- var x = 0;
		| var extendlatlng = { "elements" : [
		each el, i in extendlatlng
			- if (x == 0)
				| {"latlng" : #{el}, "id" : "#{i}" }
				- x = 1;
			- else
				| ,{"latlng" : #{el}, "id" : "#{i}" }
		| ]};
		
		- var x = 0;
		| var links = [
		| #{linkmap}
		| ];
		| </script>
	div#topcontent
		div.small-6.columns &nbsp;
		div.small-6.columns
			dl.tabs(data-tab)
				dd.active
					a(href='#topmatching') Top Matching
				dd
					a(href='#search') Search
				dd
					a(href='#related') Related
	div#bottomcontent
		ul(class='small-block-grid-2')
			li
				div.tabs-content
					div#topmatching.content.active
						ul#keyword-list(class='keyword-list')
							include ajaxlist
					div#search.content
						form#searchform.row
							div#external-search(class='small-5 push-1 columns')
								div.small-12.columns
									input(name='second-source', value='external', type='hidden')
									label.searchlabel External					
								div.small-12.columns
									input(class='externalsearch searchinput', type='text', name='externalsearch[]')
								div.small-12.columns
									input(class='externalsearch searchinput2', type='text', name='externalsearch[]')
							div#internal-search(class='small-5 push-1 columns')
								div.small-12.columns
									input(name='first-source', value='internal', type='hidden')
									label.searchlabel Internal
								div.small-12.columns
									input(class='internalsearch searchinput', type='text', name='internalsearch[]')
								div.small-12.columns
									input(class='internalsearch searchinput2', type='text', name='internalsearch[]')
							div.small-12.pull-1.columns#clear-search
								a.button(href='#clear', id="clear-search") Clear					

					div#related.content
						img(src='/images/related.png', height='250')		
			li
				div#map-canvas
				div#expand
			li#external-news
				h2.first EXTERNAL RESOURCES
				div.filters
					ul
						li 
							a.active Bloomberg
						li 
							a.active Financial Times
						li
							a WSJ
						li 
							a SNL.com
				div.padding.content-wrapper
					each article, i in external
						div.large-12.columns.article
							div.title
								span.type #{article.type}
								span.date #{article.content_date}
							div.content(id='excerpt_#{article._id}')
								a.excerpt_title(href='#', data-reveal-id='content_#{article._id}')
									label #{article.title}
									label #{article.author}
								p.excerpt #{article.excerpt} ...
								div(id='content_#{article._id}', class='reveal-modal', data-reveal)
									div.article
										h4 #{article.title}
										div.title
											span.type #{article.type}
											span.date #{article.content_date}
										p.fullcontent #{article.content}
										a.close-reveal-modal &#215;
			li#internal-news
				h2 INTERNAL DATA
				div.filters
					ul
						li 
							a.active email
						li 
							a.active RFP
						li
							a.active phone call
						li 
							a.active briefing memo
				div.padding.content-wrapper
					each article, i in internal
						div.large-12.columns.article
							div.title
								span.type #{article.type}
								span.date #{article.content_date}
							div.content(id='excerpt_#{article._id}')
								a.excerpt_title(href='#', data-reveal-id='content_#{article._id}')
									label #{article.title}
								p.excerpt #{article.excerpt} ...
								div(id='content_#{article._id}', class='reveal-modal', data-reveal)
									div.article
										h4 #{article.title}
										div.title
											span.type #{article.type}
											span.date #{article.content_date}
										p.fullcontent #{article.content}
										a.close-reveal-modal &#215;